.card {
  --heigth: 5rem;
  --text-color: white;
  --text-color-sub: #a0a0a0;

  display: flex; /* Включаем Flexbox */
  align-items: flex-start; /* Выравнивание по верхнему краю */
  gap: 0.5rem; /* Расстояние между изображением и текстом */
  background-color: #1e1e1e; /* Тёмный фон */
  color: var(--text-color); /* Белый текст */
  padding: 1rem; /* Внутренний отступ */
  max-width: 400px; /* Ограничение ширины */
}
.card:nth-child(even) {
  background-color: rgb(48, 47, 47);
}

.card:hover {
  --text-color: #1e1e1e;
  --text-color-sub: #1e1e1e;

  background-color: #a0a0a0;
  cursor: pointer;
}

.card-image {
  width: var(--heigth); /* Ширина изображения */
  height: auto; /* Автоматическая высота */
  border-radius: 4px; /* Немного сглаженные углы */

  align-self: center;
}

.card-content {
  display: flex;
  flex-direction: column; /* Расположение текста вертикально */
  text-align: left;
  gap: 0.5rem; /* Отступы между строками */
}

.card-content > * {
  margin-top: 0px;
  margin-bottom: 0px;
}

.status {
  font-size: 0.9rem;
  color: var(--text-color); /* Серый цвет для состояния */
}

.title {
  font-size: 1.1rem;
  font-weight: bold;
}

.details {
  font-size: 0.9rem;
  color: var(--text-color); /* Серый цвет для дополнительных деталей */
}
