.titlePage {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px; /* Optional: Add some spacing between the grid items */

  overflow: scroll;

  height: 80%;
  width: 100%;
}

.titlePage > * {
  min-height: 0;
  /* max-height: 200px; */
}

.titleInfo {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.downloadSettings {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
}

.chaptersList {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

