.container {
  position: relative;

  
  height: 100%;
  width: fit-content;

  margin: 0 auto;

  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container::-webkit-scrollbar {
  display: none;
}